{% extends 'base.html' %}
{% block content  %}

<div class="header-bar">
    <h1>Login</h1>
</div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <label class="form-group">{{ form.username.label }}</label>
        {{ form.username }}

        <label class="form-group">{{ form.password.label }}</label>
        {{ form.password }}
   
        <div class="button-container">
            <input class="button" type="submit" value="Login">
        </div>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content  %}