{% extends 'base.html' %}

{% block title  %} 
Производители 
{% endblock  %}

{% block content %}
<br>
<div class="header-bar">
    <div>
        <br>
        <h1>Hello {{ request.user|title }}</h1>        
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<br> 
<div class="button-group">
    <a href="{% url 'display_manufacturers' %}" class="btn btn-primary btn-end" role="button">Manufacturers</a> 
    <a href="{% url 'add_manufacturer' %}" class="btn btn-warning btn-sm" role="button"> +</a>   
</div>

<br>
<h4>Currently Viewing {{ header }}</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Country</th>            
            <th>Detail</th>            
        </tr>
    </thead>

    <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.pk }}</td>
                <td>{{ manufacturer.name }}</td>
                <td>{{ manufacturer.country }}</td>
                <td>
                    <a href="{% url 'manufacturer_detail' manufacturer.pk %}" class="btn btn-warning btn-sm" role="button"> Detail</a>
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>

{% endblock content %}